# 1. Importing libraries & data

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data/train.csv')
df.head()

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,Female,Hispanic,Highschool,Lower-Middle,Current,Employed,0,0,0,1.0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,Female,White,Highschool,Upper-Middle,Never,Employed,0,0,0,1.0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,Male,Hispanic,Highschool,Lower-Middle,Never,Retired,0,0,0,0.0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,Female,White,Highschool,Lower-Middle,Current,Employed,0,1,0,1.0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,Male,White,Highschool,Upper-Middle,Never,Retired,0,1,0,1.0

# 2. Getting basic information on the dataset

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   id                                  700000 non-null  int64
 1   age                                 700000 non-null  int64
 2   alcohol_consumption_per_week        700000 non-null  int64
 3   physical_activity_minutes_per_week  700000 non-null  int64
 4   diet_score                          700000 non-null  float64
 5   sleep_hours_per_day                 700000 non-null  float64
 6   screen_time_hours_per_day           700000 non-null  float64
 7   bmi                                 700000 non-null  float64
 8   waist_to_hip_ratio                  700000 non-null  float64
 9   systolic_bp                         700000 non-null  int64
 10  diastolic_bp                        700000 non-null  int64
 11  heart_rate                          700000 non-null  int64
 12  cholesterol_total                   700000 non-null  int64
 13  hdl_cholesterol                     700000 non-null  int64
 14  ldl_cholesterol                     700000 non-null  int64
 15  triglycerides                       700000 non-null  int64
 16  gender                              700000 non-null  object
 17  ethnicity                           700000 non-null  object
 18  education_level                     700000 non-null  object
 19  income_level                        700000 non-null  object
 20  smoking_status                      700000 non-null  object
 21  employment_status                   700000 non-null  object
 22  family_history_diabetes             700000 non-null  int64
 23  hypertension_history                700000 non-null  int64
 24  cardiovascular_history              700000 non-null  int64
 25  diagnosed_diabetes                  700000 non-null  float64
dtypes: float64(6), int64(14), object(6)
memory usage: 138.9+ MB
None

In [28]:
print(f"No. of rows: {df.shape[0]} \nNo. of cols.: {df.shape[1]}")

No. of rows: 700000
No. of cols.: 26

In [32]:
print("Summary statistics of numerical data:",df.describe())

Summary statistics of numerical data:                   id            age  alcohol_consumption_per_week  \
count  700000.000000  700000.000000                 700000.000000
mean   349999.500000      50.359734                      2.072411
std    202072.738554      11.655520                      1.048189
min         0.000000      19.000000                      1.000000
25%    174999.750000      42.000000                      1.000000
50%    349999.500000      50.000000                      2.000000
75%    524999.250000      58.000000                      3.000000
max    699999.000000      89.000000                      9.000000

       physical_activity_minutes_per_week     diet_score  sleep_hours_per_day  \
count                       700000.000000  700000.000000        700000.000000
mean                            80.230803       5.963695             7.002200
std                             51.195071       1.463336             0.901907
min                              1.000000       0.100000             3.100000
25%                             49.000000       5.000000             6.400000
50%                             71.000000       6.000000             7.000000
75%                             96.000000       7.000000             7.600000
max                            747.000000       9.900000             9.900000

       screen_time_hours_per_day            bmi  waist_to_hip_ratio  \
count              700000.000000  700000.000000       700000.000000
mean                    6.012733      25.874684            0.858766
std                     2.022707       2.860705            0.037980
min                     0.600000      15.100000            0.680000
25%                     4.600000      23.900000            0.830000
50%                     6.000000      25.900000            0.860000
75%                     7.400000      27.800000            0.880000
max                    16.500000      38.400000            1.050000

         systolic_bp   diastolic_bp     heart_rate  cholesterol_total  \
count  700000.000000  700000.000000  700000.000000      700000.000000
mean      116.294193      75.440924      70.167749         186.818801
std        11.010390       6.825775       6.938722          16.730832
min        91.000000      51.000000      42.000000         117.000000
25%       108.000000      71.000000      65.000000         175.000000
50%       116.000000      75.000000      70.000000         187.000000
75%       124.000000      80.000000      75.000000         199.000000
max       163.000000     104.000000     101.000000         289.000000

       hdl_cholesterol  ldl_cholesterol  triglycerides  \
count    700000.000000    700000.000000  700000.000000
mean         53.823214       102.905854     123.081850
std           8.266545        19.022416      24.739397
min          21.000000        51.000000      31.000000
25%          48.000000        89.000000     106.000000
50%          54.000000       103.000000     123.000000
75%          59.000000       116.000000     139.000000
max          90.000000       205.000000     290.000000

       family_history_diabetes  hypertension_history  cardiovascular_history  \
count            700000.000000         700000.000000           700000.000000
mean                  0.149401              0.181990                0.030324
std                   0.356484              0.385837                0.171478
min                   0.000000              0.000000                0.000000
25%                   0.000000              0.000000                0.000000
50%                   0.000000              0.000000                0.000000
75%                   0.000000              0.000000                0.000000
max                   1.000000              1.000000                1.000000

       diagnosed_diabetes
count       700000.000000
mean             0.623296
std              0.484560
min              0.000000
25%              0.000000
50%              1.000000
75%              1.000000
max              1.000000

In [41]:
print("Checking any null or missing values:")
print(df.isnull().sum())

Checking any null or missing values:
id                                    0
age                                   0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
smoking_status                        0
employment_status                     0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
diagnosed_diabetes                    0
dtype: int64

In [39]:
print("Checking for any duplicate values:")
print(df.duplicated())

Checking for any duplicate values:
0         False
1         False
2         False
3         False
4         False
          ...
699995    False
699996    False
699997    False
699998    False
699999    False
Length: 700000, dtype: bool

In [43]:
categorical_cols = df.select_dtypes(include=['object'])
categorical_cols

,gender,ethnicity,education_level,income_level,smoking_status,employment_status
0,Female,Hispanic,Highschool,Lower-Middle,Current,Employed
1,Female,White,Highschool,Upper-Middle,Never,Employed
2,Male,Hispanic,Highschool,Lower-Middle,Never,Retired
3,Female,White,Highschool,Lower-Middle,Current,Employed
4,Male,White,Highschool,Upper-Middle,Never,Retired
...,...,...,...,...,...,...
699995,Female,Hispanic,Postgraduate,Upper-Middle,Former,Employed
699996,Female,Hispanic,Graduate,Upper-Middle,Former,Employed
699997,Female,White,Graduate,Middle,Never,Employed
699998,Female,White,Highschool,Lower-Middle,Never,Retired
699999,Female,Black,Graduate,Low,Former,Employed

In [44]:
type(categorical_cols)

pandas.core.frame.DataFrame

In [21]:
df.income_level.unique()

array(['Lower-Middle', 'Upper-Middle', 'Low', 'Middle', 'High'],
      dtype=object)

In [22]:
df.diagnosed_diabetes.unique()

array([1., 0.])